*{
    padding:0;
    margin:0;
}

body{
    font-family: 'Roboto', sans-serif;;
}

.container{
    display: flex;
    
}

.dashboard{
    color:white;
    background-color: #1992d4;
    height:1000px;
    width:15%;
    font-weight: bold;
    

    
}
.title{
    margin-left:13%;
    margin-top:20px;
}

.dashboard > .selection{
    margin-left:10%;
    margin-top:30px;
}

.dashboard .selection > div{
    padding:10px;
    font-weight: bold;
}


.dashboard .selection div a{
    text-decoration: none;
    color:white;
}



.dashboard > .support{
    margin-left:10%;
    margin-top:30px;
}

.dashboard .support > div{
    padding:10px;
    font-weight: bold;
}


.dashboard .support div a{
    text-decoration: none;
    color:white;
}


.header .grid-container input{
    background-color: rgb(128,128,128, 0.2);
    border:1px solid transparent;
    border-radius: 10px;
    width:50vw;
    height:25px;
}
.header {
    padding-left: 5%;
    padding-top: 20px;
    width: 100vw;
    height: 8vw;
    gap: 300px;
    border-bottom: 1px solid rgb(128,128,128, 0.5);
    
  }
  
.header .grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:30px;
    align-items: center;
}

.header .grid-container .search{
    padding-left:20px;
}
.header .grid-container .search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.header .grid-container .search-container .mag{
    height: 3%;
    width:3%;
}


.header .grid-container .hello {
    display: grid;
    grid-template-columns: repeat(2,1fr); /* Set two rows of auto height */
    width:200px;
    align-items: center;
    gap:10px;
  }
  .header .grid-container .hello .pfp {
    grid-row: span 2; /* Span the pfp to two rows */
    width: 50px; /* Adjust the width of the pfp if necessary */
  height: 50px; /* Adjust the height of the pfp if necessary */
  }
  

.text div h3{
    font-weight:bold;
}

.header .grid-container .hello .text {
    display: flex;
    flex-direction: column;
    white-space: nowrap; /* Prevent line breaks within the hello-text section */
  }

  .header .grid-container .buttons{
    justify-self:center ;
  }
  .header .grid-container .buttons button{
    background-color: #1992d4;
    padding:10px;
    border-radius: 20px;
    color: white;
    width:80px;
    font-weight: bold;
    border:1px solid transparent;
    cursor:pointer;
    margin:10px;
  }

.header .grid-container .buttons button:hover{
    background-color: #036499;
  }


.header .grid-container .icon .noti{
    width:50%;
    height:50%;
}

.header .grid-container .icon .pfp{
    width:50%;
    height:50%;
}

.header .grid-container .icon .user{
    font-weight: bold;
}

.header .grid-container .icon{
    
    justify-content: flex-end;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:200px;
}

.header .grid-container .icon {
    justify-self: center;
    width:200px;
  }

  .project {
    margin-top: 20px; /* Add a margin value to create space between header and project section */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    justify-content: center;
    align-items: center;
    
  }
  
  .project .boxes, .project .main h3 {
    background-color: white;
    padding-bottom: 20px;
    padding-top:20px;
    text-align: left;
  }


  .project .main .grid-contain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:80px;
    
  }

  .project .main .grid-contain .boxes {
    width:450px;
    height:150px;
    
    border: 1px solid black;
    border-left-color: yellow;
    border-left: 10px solid yellow;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    padding:20px;
  }

  .project .announcement{
    grid-column-start: 2;
    align-self: start;
    margin-top:50px;
  }

  .project .announcement .portion{
    padding:20px;
    width:300px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .project .announcement .portion > div{
    border-bottom: 1px solid black;
    padding:10px;
    
  }

  .project .announcement .trending{
    margin-top:50px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    padding:20px;
    width:300px;
  }

  .project .announcement .trending> div > div{
    
    border-bottom:1px solid black;
    padding:20px;
  }