*{
    padding:0;
    margin:0;
}

body{
    font-family: 'Roboto', sans-serif;;
}

.container{
    display: flex;
    
}

.dashboard{
    color:white;
    background-color: #1992d4;
    height:100vh;
    width:15%;
    font-weight: bold;
    
}
.title{
    margin-left:13%;
    margin-top:20px;
}

.dashboard > .selection{
    margin-left:10%;
    margin-top:30px;
}

.dashboard .selection > div{
    padding:10px;
    font-weight: bold;
}


.dashboard .selection div a{
    text-decoration: none;
    color:white;
}



.dashboard > .support{
    margin-left:10%;
    margin-top:30px;
}

.dashboard .support > div{
    padding:10px;
    font-weight: bold;
}


.dashboard .support div a{
    text-decoration: none;
    color:white;
}


.header .grid-container input{
    background-color: rgb(128,128,128, 0.2);
    border:1px solid transparent;
    border-radius: 10px;
    width:50vw;
    height:25px;
}
.header {
    padding-left: 5%;
    padding-top: 20px;
    width: 100vw;
    height: 8vw;
    gap: 300px;
  }
  
.header .grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:30px;
    align-items: center;
}

.header .grid-container .search{
    padding-left:20px;
}
.header .grid-container .search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.header .grid-container .search-container .mag{
    height: 3%;
    width:3%;
}


.header .grid-container .hello {
    display: grid;
    grid-template-columns: repeat(2,1fr); /* Set two rows of auto height */
    width:200px;
    align-items: center;
    gap:10px;
  }
  .header .grid-container .hello .pfp {
    grid-row: span 2; /* Span the pfp to two rows */
    width: 50px; /* Adjust the width of the pfp if necessary */
  height: 50px; /* Adjust the height of the pfp if necessary */
  }
  

.text div h3{
    font-weight:bold;
}

.header .grid-container .hello .text {
    display: flex;
    flex-direction: column;
    white-space: nowrap; /* Prevent line breaks within the hello-text section */
  }

  .header .grid-container .buttons{
    justify-self:center ;
  }
  .header .grid-container .buttons button{
    background-color: #1992d4;
    padding:10px;
    border-radius: 20px;
    color: white;
    width:80px;
    font-weight: bold;
    border:1px solid transparent;
    cursor:pointer;
    margin:10px;
  }

.header .grid-container .buttons button:hover{
    background-color: #036499;
  }


.header .grid-container .icon .noti{
    width:50%;
    height:50%;
}

.header .grid-container .icon .pfp{
    width:50%;
    height:50%;
}

.header .grid-container .icon .user{
    font-weight: bold;
}

.header .grid-container .icon{
    
    justify-content: flex-end;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:200px;
}

.header .grid-container .icon {
    justify-self: center;
    width:200px;
  }